<h1>タイトル</h1>
<% if user_signed_in? %>
<%= link_to "ログイン中",destroy_user_session_path, method: :delete,class: "btn" %>
<%= link_to "ブログ!!!!", blogs_path, class: "btn" %>
<% else %>
<%= link_to "ログイン", new_user_session_path ,class: "btn" %>
<% end %>

<div class="test">
  <h4>testtest</h4>
</div>
