// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-image: url(img_46.jpg);
}
.page-header{
  background-color: pink;
  opacity:0.8;
}